<div class="top_wrapper">
    <div class="fondoo-suc">
        {% if is_admin %}
            <div class="image-upload lapiz visible-movil">
                <label for="img_header_fondo_success">
                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_header_fondo_success" name="image" id="img_header_fondo_success" >
            </div>
        {% end %}

        <img id="{{ site.name }}_header_fondo_success" src="{{ read_image(site.name + '_header_fondo_success', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_header_fondo_success') }}'" class="absolute fill-parent" alt="item">
        <div class="head-container">
            <div class="container">
                <div class="row linea">
                    <div class="logo_wrapper col-md-3 col-sm-4 col-xs-12">
                        <a href="{{ site_base }}">
                            <img class="tikaa" src="https://7static.loadingplay.com/static/images/78562c3e6cb2afdaf23054c61683dfb2_Tika_icon.png">
                        </a>
                    </div>
                    <div class="menu_wrapper men-t col-md-9 col-sm-8 col-xs-12">
                        <div class="row">
                            <nav class="navbar navbar-default navbar-transparent">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse opac" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-left nav-header-li-hover gran2" style="letter-spacing: -1px;">
                                        <li><a href="{{ site_base }}/our_roots" class="colorr">OUR ROOTS</a></li>
                                        <li class="dropdown">
                                            <a href="{{ site_base }}/products" class="colorr" data-toggle="dropdown" class="dropdown-toggle">PRODUCTS <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ site_base }}/products#tika_chip">Tika Chips</a></li>
                                                <li><a href="{{ site_base }}/products#tika_stixs">Tika Stixs</a></li>
                                                <li><a href="{{ site_base }}/products#tika_tortikas">Tortika Chips</a></li>
                                                <li><a href="{{ site_base }}/products#tika_crackers">Tika Crackers</a></li>
                                                <li><a href="{{ site_base }}/products#tika_pop">Tika Pop</a></li>
                                                <li><a href="{{ site_base }}/products#tika_nativas">Tika Nativas</a></li>
                                                <li><a href="{{ site_base }}/products#tika_cereal_salvaje">Tika Cereal Salvaje</a></li>
                                                <li><a href="{{ site_base }}/products">SEE ALL</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ site_base }}/where_to_buy" class="colorr"> WHERE TO BUY</a></li>
                                        <li><a href="{{ site_base }}/tika_around_the_world" class="colorr"> TIKA AROUND THE WORLD</a></li>
                                        <li class="dropdown">
                                            <a href="{{ site_base }}/recipes" class="colorr" data-toggle="dropdown" class="dropdown-toggle">RECIPES <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ site_base }}/recipes#recetas_dips">Dips Recipe</a></li>
                                                <li><a href="{{ site_base }}/recipes#recetas_mastikas">MasTikas Recipe</a></li>
                                                <li><a href="{{ site_base }}/recipes#recetas_nuts">Nuts Recipe</a></li>
                                                <li><a href="{{ site_base }}/recipes#otras_recetas">Others Recipe</a></li>
                                                <li><a href="{{ site_base }}/recipes">SEE ALL</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="{{ site_base }}/" class="colorr" data-toggle="dropdown" class="dropdown-toggle">LANGUAGE <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="http://es.tikachips.com/">SPANISH</a></li>
                                                <li><a href="http://en.tikachips.com">ENGLISH</a></li>
                                                <li><a href="http://fr.tikachips.com">FRENCH</a></li>
                                                <li><a href="http://pt.tikachips.com/">PORTUGUESE</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{{ site_base }}/contact">
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
